<p id="notice"><%= notice %></p>

<h1>Listing Vegetables</h1>

<table>

  <tbody>
    <% @vegetables.each do |vegetable| %>
		<%= content_tag :tr, class: cycle('list_line_odd', 'list_line_even') do %>
			<td>
				<%= image_tag(vegetable.image_url, class: 'list_image') %>
			</td>
			<td class='list_description'>
				<dl>
					<dt><%= vegetable.name %></dt>
					<dd>
						<%= truncate strip_tags(vegetable.instructions), length: 120 %>
					</dd>
					<dd>
						<%= truncate strip_tags(vegetable.description), length: 120 %>
					</dd>
					<dd>
						<%= truncate strip_tags(vegetable.tips), length: 120 %>
					</dd>
				</dl>
			</td class='list_actions'>
			<td><%= link_to 'Show', vegetable %></td>
			<td><%= link_to 'Edit', edit_vegetable_path(vegetable) %></td>
			<td><%= link_to 'Destroy', vegetable, method: :delete, 
			data: { confirm: 'Are you sure?' } %></td>
		<% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vegetable', new_vegetable_path %>
