<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Your Veggie Database</h1>

<% @vegetables.each do |vegetable| %>
  <div class="entry">
    <%= image_tag(vegetable.image_url) %>
    <h3><%= vegetable.name %></h3>
	<%= sanitize vegetable.instructions %>
	<%= sanitize vegetable.description %>
    <%= sanitize vegetable.tips %>
    <div class="rating_line">
		<%= button_to 'Add a Tip', new_extra_tip_path(vegetable_id: vegetable), method: :get %>
		<%= button_to 'Add to Allotment', line_items_path(vegetable_id: vegetable) %>
		<span class="rating"><b>Easiness To Grow Rating: </b><%= vegetable.easiness_to_grow_rating %></span>
    </div>
	<hr>
  </div>
<% end %>